/*======================
Large LAYOUT : 1280px.
=======================*/
@media only screen and (max-width: 1600px) { 
    .link-third img {
        max-width: 76%;
    }
    .faq-wrap > .container-fluid {
        padding: 0;
    }
}
@media only screen and (min-width: 1400px) {
    .section-padding {
        padding: 140px 0;
    }
    .container-fluid {
        max-width: 76%;
    }   
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .quote-wrap h4 {
        font-size: 26px;
        line-height: 55px;
    }
    .single-how h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .section-title {
        margin-bottom: 70px;
    }
    .single-service h2 {
        font-size: 22px;
        margin-bottom: 30px;
        line-height: 37px;
    }
    .tab-menu ul.nav li a {
        font-size: 26px;
        line-height: 42px;
    }
    .tab-wrap .tab-pane h2 {
        font-size: 26px;
    }
    .tab-wrap .tab-pane {
        line-height: 32px;
        font-size: 18px;  
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .cta-wrap .single-img {
        margin-left: 0;
    }
    .pl-10 {
        padding-left: 100px;
    }
    .quote-wrap h4 {
        font-size: 20px;
        line-height: 45px;
    }
    .quote-wrap h1 {
        font-size: 35px;
        margin-bottom: 25px;
    }
    .quote-wrap h2 {
        margin-top: 25px;
        font-size: 22px;
    }
    .quote-wrap {
        padding: 60px 0;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .navigation-wrap.style-2 .logo {
        margin-right: 25px;
    }
    
    .icon-menu li a {
        padding: 5px 0;
        margin-right: 10px;
    }
    
    .icon-menu li a img {
        width: 35px;
        height: 35px;
    }
    
    .one-zoo-menu li a {
        font-size: 16px;
        padding: 9px 3px;
    }

    
    .single-tes-slide {
        padding: 20px 15px;
        margin: 0 10px;
    }
    
    .meta .user-img {
        width: 70px;
        height: 70px;
    }
    
    .meta h4 {
        font-size: 20px;
        padding: 15px 0;
    }
    
    .meta {
        padding-left: 80px;
    }
    
    .meta > img {
        max-width: 40px;
        top: 10px;
    }
    
    .tes-content {
        padding: 30px 20px 0;
        font-size: 16px;
    }
    
    .tes-content:before, .tes-content:after {
        width: 70px;
        height: 70px;
    }
    .navigation-wrap.style-2 .icon-menu {
        margin-left: 40px;
    }
    .login-menu li::before {
        top: 3px;
    }
}

@media only screen and (min-width: 1024px) {
    .single-how-inner.style-2 {
    padding: 50px 0;
    }
     .single-how-inner.style-2 .single-how.zoo {
        padding: 0;
    }
    
    .tes-content:after {
        top: 66%;
        left: 75%;
    }    
    .icon-menu li a {
        font-size: 15px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1600px) {
    .hero-img {
        margin-right: -50px;
    }
    .navigation-wrap.style-2 .icon-menu .drop-down > a::before {
        top: 10px;
    }
    .navigation-wrap.style-2 .logo img {
        max-width: 120px;
    }
    .navigation-wrap.style-2 .one-zoo-menu ul {
        margin-left: 0;
    }
    .login-menu img {
        max-width: 25px;
    }
    .icon-menu {
        margin: 4px 0;
    }
    .icon-menu li a {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px){
	.login-menu li::before {
    top: 10px;
	}
	
	.single-tes-slide{
		padding: 20px 20px;
	}
	.navigation-wrap.style-2 {
    padding: 10px 0;
}
	
}


@media only screen and (min-width: 1400px) and (max-width: 1500px) {
    
    .hero-wrap.customer {
        padding-top: 0;
    }
    .icon-menu li a {
        margin-right: 15px;
    }
    .one-zoo-menu li a {
        padding: 14px 3px;
        font-size: 18px;
    }
    .login-menu li::before {
        top: 10px;
    }
}
/*======================
MEDIAM LAYOUT : 1280px.
=======================*/

@media only screen and (max-width: 1200px) {

    .hero-wrap.simple-hero .hero-inner {
        padding-left: 30px;
    }

    .hero-wrap.simple-hero {
        padding: 100px 0 60px 0;
    }
    
    .footer-wrap .row > div {
        margin-bottom: 50px;
    }
    
    .footer-wrap {
        padding-bottom: 35px;
        margin-bottom: 0;
    }
    .single-service {
        min-height: 300px;
    }
    .section-margin {
        margin: 0;
        padding-bottom: 0;
    }
    
    .vimeo-video {
        margin-bottom: 0;
    }
    .section-padding {
        /* margin-bottom: 60px; */
    }
    .quote-wrap h4 {
        font-size: 22px;
        line-height: 2;
    }    

    .single-how h2 {
        font-size: 28px;
    }
    .hero-wrap.hero-s2 .down-arrow-click {
        bottom: 65px;
    }

    .section-title {
        font-size: 40px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container-fluid {
        max-width: 95%;
    }    
    .section-padding {
        padding: 100px 0;
        margin-bottom: 0;
    }

    .hero-inner .group-button .button {
        padding: 8px 30px;
        margin-right: 15px;;
    }

    .main-menu li a {
        padding: 18px 8px;
    }

    .btn_search img {
        max-width: 30px;
    }

    .navigation-wrap.sticky-menu .main-menu li a {
        padding: 25px 10px;
    }

    .single-service h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .single-service {
        padding: 30px 20px;
        font-size: 15px;
    }

    .section-title {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .group-button img {
        width: 48%;
        margin-right: 10px;
    }
    
    .group-button img:last-child {
        margin-right: 0;
    }


    .single-tes-slide {
        padding: 20px 15px;
        margin: 0 10px;
    }
    
    .meta .user-img {
        width: 70px;
        height: 70px;
    }
    
    .meta h4 {
        font-size: 20px;
        padding: 15px 0;
    }
    .login-menu li::before {
        top: 4px;
    }
    
    .meta {
        padding-left: 80px;
    }
    
    .meta > img {
        max-width: 40px;
        top: 10px;
    }
    
    .tes-content {
        padding: 20px 0;
        font-size: 16px;
    }
    
    .tes-content:before, .tes-content:after {
        width: 70px;
        height: 70px;
    }

    .navigation-wrap.style-2 .logo {
        margin-right: 15px;
    }
    
    .icon-menu li a img {
        width: 30px;
        height: 30px;
    }

    .icon-menu .drop-down {
        padding-right: 5px;
    }
    
    .icon-menu li a {
        margin-right: 8px;
        font-size: 15px;
    }
    
    .one-zoo-menu li a {
        font-size: 14px;
        padding: 10px 0;
    }
    
    .navigation-wrap.style-2 .icon-menu {
        margin: 4px 0;
        margin-left: 10px;
    }
    
    .navigation-wrap.style-2 .logo img {
        max-width: 100px;
    }

    .login-menu img {
        max-width: 20px;
    }
    
    .login-menu li::before {
        left: 0;
        top: 4px;
    }
    .login-menu li {
        padding-left: 7px;
    }
    .tab-wrap .tab-pane {
        left: auto;
        padding: 40px 40px;
        font-size: 17px;
        width: 40%;
        right: 0;
    }
    .tab-menu {
        max-width: 540px;
        padding-right: 50px;
    }
    .tab-wrap .tab-pane h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 992px){   
    
    .single-how-inner .rounded-circle {
        max-width: 550px;
        display: block;
    } 
    
    .single-how-inner .img-fluid {
        margin: 0 auto;
        display: block;
    } 
    .navigation-wrap .container-fluid, .navigation-wrap.style-2 .container-fluid {
        max-width: 100%;
    }
    .single-service {
        min-height: unset;
    }
    
    .tab-wrap .tab-pane {
        position: relative;
        left: 50%;
        top: 50px;
        margin-left: -250px;
        padding: 20px 40px;
        width: 90%;
        transform: translate(0);
    }
    
    .tab-wrap .tab-pane {
        position: relative;
        left: 0;
        margin-left: 15px;
        padding: 30px 40px;
    }
    
    .tab-menu ul.nav li a {
        margin-bottom: 15px;
        font-size: 26px;
    }

    .tab-menu {
        max-width: inherit;
        border: none;
        padding-right: 0;
    }
    .hero-inner img {
        margin-top: 30px;
    }
    .how-content img {
        max-width: 50px;
    }
    .quote-wrap h1, .quote-wrap h2 {
        margin-bottom: 20px;
    }
    .quote-wrap h2 {
        margin-top: 20px;
    }
    .quote-wrap h4 {
        font-size: 20px;
    }
    .hero-wrap {
        background-position: right top;
    }
    .navigation-wrap.style-2 .container-fluid > .row {
        display: none;
    }
    .navigation-wrap.style-2 .container-fluid > .mobile-nav {
        display: block;
    }
    .suppiler-work .how-content, .suppiler-work .how-content.left {
        padding-right: 0;
        padding-left: 20px;
        margin: 0;
    }   
    .tes-content:before, .tes-content:after {   
        left: 10px;
        top: 25px;
        width: 60px;
        height: 60px;
    }
    .tes-content:after {
        top: 80%;
        left: 78%;
    }
    .cta-form label, .cta-form input, .cta-form textarea, .cta-form button[type=submit] {
        margin-bottom: 10px;
    }
    .vimeo-video {
        margin-bottom: 0;
    } 
    .offset-lg-1 .single-how.zoo {
        padding-top: 0;
    }
    .single-how.zoo {
        padding: 30px 0;
    }
    .hide-in-sm {
        display: none;
    }
    .header-wrap { display: none; }        

    .mobile-nav { display: block; } 

    .navigation-wrap, .navigation-wrap.style-2 {
        background-color: #fff;
        box-shadow: 0 0 35px rgba(161, 161, 168, 0.34);
        padding: 0;
    }

    .slicknav_menu .slicknav_btn {
        float: none;
        display: inline-block;
        /* margin-bottom: 30px; */
    }
    
    .slicknav_menu {
        text-align: right;
        background: transparent;
    }

    .slicknav_menu ul li {
        display: block;
        text-align: left;
    }
    
    .slicknav_menu ul {
        text-align: left;
        background-color: #1d2929;
    }

    .slicknav_menu ul li a i {
        display: none;
    }

    .slicknav_menu ul li > ul {
        margin: 0;
    }

    .icon--search {
        color: #000;
    }
}

/*=====================
SMALL MOBILE LAYOUT : 320px.
=====================*/

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .mobile-nav .logo {
        margin: 6px 0;
    }

    .reverse-col {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
         order: 2;
    }
}
@media only screen and (max-width: 767px) {
    .footer-menu {
        max-height: 0;
        overflow: hidden;
    }
    .footer-wrap h4[data-target] {
        border-bottom: 1px solid;
        padding: 10px;
        padding-left: 0;
        position: relative;
        cursor: pointer;
    }
    .footer-wrap h4[data-target]:after {
        position: absolute;
        right: 0;
        top: 50%;
        height: 100%;
        width: fit-content;
        font-family: FontAwesome;
        content: "\f0d7";
        color: currentColor;
        transform: translate(0, -50%);
        padding: 10px;
        padding-right: 0;
    }
    .footer-wrap h4.opened[data-target]:after {
        top: 0;
        padding-left: 0;
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
}
    .footer-wrap .row > div {
        margin-bottom: 10px;
    }
    .single-category img {
        max-width: 100px;
    }
    .single-category > .col-md-4 {
        margin-bottom: 30px;
    }
    .contact-popup {
        left: 50%;
        margin-left: -140px;
        width: 280px;
        min-width: unset;
    }
    .reverse-col {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
         order: 2;
    }
    .hero-img {
        text-align: center;
    }
    .hero-img img {
        max-width: 100%;
    }
    .tab-wrap .tab-pane:before {
        left: -12px;
    }
    .tab-wrap .tab-pane:after {
        left: 0;
    }
    body {
        font-size: 14px;
    }
    .container-fluid {
        max-width: 100%;
    }
    .navigation-wrap .container {
        max-width: 100%;
    }
    .hero-wrap.customer {
        padding-top: 50px;
    }
    .navigation-wrap.style-2 {
        padding: 0;
    }
    .main-menu { display: none; }
    .mobile-menu { 
        display: block;
        float: right;
    }
    .main-menu.right-menu { display: block; }

    .main-menu.right-menu {
        float: left;
    }

    .section-title.with-border h2 {
        font-size: 20px;
    }
    
    .link-third .section-title.zoo {
        margin-bottom: 30px;
    }
    
    .link-third img {
        max-width: 100%;
    }
    
    .link-third .subtitle {
        margin-bottom: 40px;
    }    

    .vimeo-video {
        padding-top: 50px;
    }

    .hero-img, .right-img, .left-img {
        margin: 0;
    }

    .button {
        padding: 9px 25px;
        font-size: 12px;
    }        

    .group-button {
        text-align: center;
    }

    .down-arrow-click.text-white .down-arrow {
        bottom: -50px;
        width: 25px;
        margin-left: -12.5px;
    }

    .logo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .main-menu.right-menu li a, .navigation-wrap.sticky-menu .main-menu.right-menu li a {
        padding: 15px 15px;
    }
    
    .main-menu.right-menu {
        text-align: left;
    }

    .group-button img {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .hero-wrap { 
        height: auto; padding-bottom: 50px; background-attachment: unset;
        background-position-y: -50px;
    }

    .header-wrap .logo {
        display: none;
    }

    .mr-6 {
        margin-right: 0;
    }

    .ml-6 {
        margin-left: 0;
    }

    .hero-inner h1 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .hero-img {
        margin-top: 40px;
    }

    .hero-inner p {
        font-size: 14px;
        line-height: 2;
        margin-bottom: 25px;
    }
    
    .hero-inner {
        padding: 44px 0 0;
    }    
    
    .hero-inner .group-button .button {
        margin: 0;
        margin-right: 10px;
    }
    
    .hero-inner .group-button {
        text-align: left;
    }

    .single-about h1 {
        font-size: 26px;
    }
    
    .single-about .about-img {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
    
    .cta-wrap h1 {
        font-size: 21px;
        margin-bottom: 15px;    
    }
    
    .cta-wrap .group-button {
        margin-top: 30px;
    }
    
    .cta-wrap .single-img {
        text-align: center;
        margin: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .section-title {
        font-size: 35px;
        margin-bottom: 50px;
    }
    
    .single-about {
        margin-bottom: 50px;
    }
    
    .single-how h2 {
        margin-top: 25px;
        font-size: 27px;
        line-height: 35px;
    }
    
    .single-how {
        margin-bottom: 75px;
        font-size: 16px;
    }
    
    .how-work-wrap {
        padding-bottom: 0;
    }
    
    .cta-wrap .button.transparent-btn {
        margin-top: 20px;
        padding: 6px 40px;
        border-radius: 4px;
    }   

    .tab-menu {
        max-width: inherit;
        border: none;
        padding-right: 0;
    }
    
    .tab-menu ul.nav li a {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .footer-bottom {
        padding: 20px 0;
    }

    .group-button img {width: 70%;}

    /* Zoo Page */
    .single-how-inner .absulate-img {
        width: 100%;
        z-index: -1;
        opacity: 0.6;
        height: auto;
    }
    
    .single-how.zoo {
        padding-bottom: 0;
    }
    
    .single-service h2 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    
    .single-service {
        font-size: 15px;
        padding: 30px 20px;
    }
    
    .quote-wrap .quote-bg {
        width: 100%;
        opacity: 0.5;
    }
    
    .quote-wrap h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .quote-wrap h2 {
        font-size: 25px;
        margin-top: 20px;
    }

    .reverse-col {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
         order: 2;
    }
    .single-how.zoo img {
        max-width: 100px;
        display: table;
        margin: auto;
    }
    .single-how-inner .absulate-img img {
        display:none;
    }

    .hero-inner.style-2 h1 {
        font-size: 25px;
    }
    
    .hero-inner.style-2 p {
        font-size: 15px;
    }
    
    .single-how.zoo .how-title img {
        margin: 0;
        max-width: 50px;
        display: inline-block;
    }
    
    .tab-header a {
        font-size: 18px;
        padding-left: 45px;
    }
    
    .faq-tab {
        padding-right: 10px;
    }
    
    .tab-content {
        padding-left: 45px;
        font-size: 15px;
    }
    
    .tab-header a:before {
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 1.01;
        top: 6px;
    }
    
    .tab-header a.collapsed:before {
        line-height: 1.01;
    }

    .single-how-inner.style-2 {
        margin-bottom: 50px;
    }

    .style-2 .single-how h2 {
        margin-top: 0;
    }

    .navigation-wrap .logo {
        text-align: left;
    }

    
    .single-tes-slide {
        padding: 20px 15px;
        margin: 0;
    }
    
    .meta .user-img {
        width: 70px;
        height: 70px;
    }
    
    .meta h4 {
        font-size: 20px;
        padding: 15px 0;
    }
    
    .meta {
        padding-left: 80px;
    }
    
    .meta > img {
        max-width: 40px;
        top: 10px;
    }
    
    .tes-content {
        padding: 20px 0;
        font-size: 16px;
    }
    
    .tes-content:before, .tes-content:after {
        width: 70px;
        height: 70px;
    }

    .navigation-wrap.style-2 .logo {
        margin-right: 0;
        max-width: 200px;
        margin: 6px 0;
    }

    .select-menu img, .drop-down .options ul li img {
        margin-top: 0!important;
    }

    .select-menu, .drop-down .options ul li a {
        min-width: 225px;
        padding: 5px;
        padding-left: 10px;
        font-size: 20px;
    }

    .padding-bottom-0 {
        padding-bottom: 0;
    }

    .hero-wrap::after {
        width: 100%;
        right: -30%;
        top: 0%;
        opacity: 0.1;
    }
    .single-how .absolute-col {
        position: relative;
        left: 0;
        top: 50%;
        transform: translate(0);
        width: 100%;
    }

    .homepage .container-fluid {
        max-width: 100%;
    }
    #learnMore {
        padding-bottom: 0;
    }
    .single-how .absolute-col .left-img, .single-how .absolute-col .right-img {
        top: auto;
        transform: translate(0);
    }
    .quote-wrap h4 {
        font-size: 18px;
        line-height: 1.9;
    }
    .faq-wrap > .container-fluid {
        padding: 0 15px;
    }
    .tab-wrap .tab-pane h2 {
        font-size: 22px;
    }
    .tab-wrap .tab-pane {
        font-size: 15px;
        margin-left: 10px;
        width: 98%;
    }
    .tab-menu ul.nav li a {
        line-height: 2;
    }  

    /* Simple Hero */
    .hero-absolute-bg {
        width: 100%;
        position: relative;
        height: 300px;
        bottom: 0;
        margin-top: 50px;
    }
    
    .hero-wrap.simple-hero {
        padding-bottom: 0;
        padding-top: 85px;
    }
}
/*========================
Tablet LAYOUT: 768px.
=========================*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {        
    .single-how-inner .rounded-circle {
        max-width: 100%;
    }
    .hero-wrap.supplier {
        padding-top: 100px;
    }
    .single-how .absolute-col img {
        max-width: 100%;
    }
    .single-how-inner .rounded-circle {
        display: block;
        margin: 0 auto 30px;    
    }
    .tab-wrap .tab-pane {
        margin-top: 50px;
    }
    

    .btn_search img {
        max-width: 30px;
    }

    .hero-img, .right-img, .left-img {
        margin: 0;
    }

    .hero-inner .group-button .button {
        margin-bottom: 15px;
        margin-right: 10px;
        font-size: 16px;
        padding: 7px 27px;
        min-width: 175px;
    }

    .main-menu {
        text-align: center;
    }

    .padding-bottom-0 {
        padding-bottom: 50px;
    }
    
    .main-menu li a, .navigation-wrap.sticky-menu .main-menu li a {
        padding: 10px 7px;
    }

    .hero-wrap {
        height: 600px;
    }

    .hero-inner p {
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 25px;
    }

    .hero-inner h1 {
        font-size: 26px;
    }
    
    .hero-inner {
        padding: 0;
    } 
    
    .hero-inner .group-button {
        text-align: left;
    }

    .single-about h1 {
        font-size: 36px;
    }
    
    .single-about .about-img {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }

    .cta-wrap .single-img {
        margin-left: -45px;
    }
    
    .cta-wrap h1 {
        font-size: 32px;
    }
    
    .group-button img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .cta-wrap .group-button {
        margin-top: 50px;
    }

    .single-how {
        margin-bottom: 80px;
		overflow:hidden;
    } 

    /* Zoo Page */

    .single-how-inner .absulate-img {
        top: 50%;
        margin-top: -200px;
    }
    
    .single-how.zoo {
        padding: 50px 0;
    }
    
    .quote-wrap h1 {
        font-size: 30px;
    }

    .group-button img {
        width: 48%;
        margin-right: 10px;
    }
    
    .group-button img:last-child {
        margin-right: 0;
    }

    .navigation-wrap.style-2 .logo {
        margin-right: 10px;
    }
    
    .icon-menu li a img {
        max-width: 30px;
    }
    
    .icon-menu li a {
        margin-right: 8px;
        font-size: 15px;
    }
    
    .one-zoo-menu li a {
        font-size: 12px;
        padding: 10px 0;
    }
    
    .navigation-wrap.style-2 .icon-menu {
        margin: 3px 0;
        float: right;
    }

    .navigation-wrap.style-2 .text-right {
        text-align: center!important;
    }
    .vimeo-video iframe {
        height: 400px;
    }
    .single-how h2 {
        font-size: 23px;
        line-height: 1.8;
    }
    .ml-6 {
        margin-left: 30px;
    }
}


@media only screen and (max-width: 767px){
	.hero-inner img {
        margin-top: 20px;
    }
    .down-arrow-click {
        bottom: 30px;
    }
    .mobile-nav .logo {
        margin: 9px 0;
    }
    .single-how .absolute-col img {
        max-width: 500px;
    }

    .quote-wrap.supplier h4 {
        opacity: 0.8;
    }
    .cta-style-2 {
        font-size: 20px;
    }
    .cta-style-2 .button {
        font-size: 15px;
    }
    .cta-style-2 h1 {
        font-size: 36px;
    }
    
    .cta-style-2 p {
        margin: 0 0 10px;
    }
}
/*========================
LARGE MOBILE LAYOUT: 480px.
=========================*/
@media only screen and (max-width: 560px) { 
    .vimeo-video iframe {
        height: 350px;
    }
    
    .quote-wrap h2 {
        margin-top: 30px;
    }

    .navigation-wrap.style-2 .logo {
        max-width: 140px;
    }
    .single-how .absolute-col img {
        max-width: 75%;;
    }
    .single-how .absolute-col .left-img img {
        max-width: 88%;;
    }
    .hero-inner img {
        margin-top: 20px;
    }
    .how-content img {
        margin: 0;
        max-width: 40px;
    }
    .section-padding {
        padding: 50px 0;
    }
    .section-margin {
        padding: 0;
    }
    .section-title {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .supplier-work {
        padding-top: 50px;
    }
    .single-how-inner .rounded-circle {
        max-width: 320px;
    }
}
@media only screen and (max-width: 480px) {
    .tab-wrap .tab-pane {
        margin-left: 0;
        width: 100%;
    }
    .main-menu.right-menu, .mobile-menu {
        
        text-align: center;
    }
    .slicknav_menu {
        text-align: center;
    }
    .single-how h2 {
        font-size: 24px;
    }
	.col-half-left {
		width:70%;
		float:left;
	}
	.col-half-right {
		width:30%;
		float:left;
    }       
    .vimeo-video iframe {
        height: 220px;
    }
}

@media only screen and (max-width: 400px){
    .main-menu.right-menu li a, .navigation-wrap.sticky-menu .main-menu.right-menu li a {
        padding: 8px 5px;
    }
    .main-menu li a {
        font-size:15px;
    }
    .icons a {
        padding: 11px 3px;
        margin-right: 5px;
    }
    .tab-content {
        padding-left: 40px;
    }
    .tab-wrap .tab-pane {
        right: 20px;
        left: auto;
    }
    .single-how .absolute-col img, .hero-img img {
        max-width: 280px;
    }
}
@media only screen and (max-width: 360px){
    .main-menu.right-menu li a, .navigation-wrap.sticky-menu .main-menu.right-menu li a {
        padding: 15px 5px;
    }
    .meta > img {
        display: none;
    }
    .icons a {
        margin-right: 2px;
    }
    .mobile-nav .logo {
        max-width: 56%;
    }
    .hero-inner .group-button .button {
        min-width: 180px;
        margin-bottom: 10px;
    }
    .icons a {
        width: 35px;
    }
}